<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fomoney.horus.core.commons.mapper.IServerWhiteInfoMapper">
	<resultMap id="serverWhiteInfoMap" type="com.fomoney.horus.core.commons.entity.ServerWhiteInfo">
		<result property="whiteId" column="white_id"/>
		<result property="whiteHost" column="white_host"/>
		<result property="serviceId" column="service_id"/>
		<result property="addLabel" column="add_label"/>
		<result property="updateLabel" column="update_label"/>
		<result property="status" column="status"/>
		<result property="mayFlag" column="may_flag"/>
	</resultMap>
    <select id="getServerWhiteInfoList" resultMap="serverWhiteInfoMap">
    	select white_id,white_host,service_id,add_label,status,update_label,may_flag mayFlag
    	from server_white_info left join identify_info
    	on server_white_info.iden_id=identify_info.iden_id
    	where server_white_info.status='1'
		and server_white_info.may_flag='1'
		order by white_id
    </select>
   
   <update id="updateWhiteInfoAddLabel" parameterType="com.fomoney.horus.core.commons.entity.ServerWhiteInfo">
   		update server_white_info
   		<set>
   			add_label=#{addLabel},
   			update_label=#{updateLabel}
   		</set> 
   		where white_id=#{whiteId}
   </update>
    
</mapper>