<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fomoney.horus.core.commons.mapper.IServerIdenInfoMapper">
	<resultMap id="serverIdenInfoMap" type="com.fomoney.horus.core.commons.entity.ServerIdenInfo">
		<result property="idenId" column="iden_id"/>
		<result property="projectName" column="project_name"/>
		<result property="serviceId" column="service_id"/>
		<result property="appId" column="app_id"/>
		<result property="judgeSecurity" column="judge_security"/>
		<result property="ipLabel" column="ip_label"/>
		<result property="tokenLabel" column="token_label"/>
	</resultMap>
    <select id="getServerIdenInfoList" resultMap="serverIdenInfoMap">
    	select iden.iden_id iden_id,iden.project_name project_name,iden.service_id service_id,iden.app_id app_id,
    		   iden.judge_security judge_security,sec.ip_label ip_label,sec.token_label token_label
    	from identify_info iden left join security_control_info sec
    	on iden.iden_id=sec.iden_id
    	and iden.stat='1'
    	and iden.del_flag='1'
    	order by iden_id
    </select>
    
</mapper>